.text {
    line-height: 1.5;
    color: var(--primary-text-color);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    @media screen and (min-width: 1200px) {
        font-size: 20px;
        
        }
}

.accent-text{
    font-weight: 700;
}