@charset "UTF-8";

@import './base/reset';
@import './base/common';
@import './components/container';
@import './components/btn';
@import './layout/header';
@import './layout/social-list';
@import './layout/hero';
@import './layout/services';
@import './layout/conditions';
@import './layout/experience';
@import './layout/enrollment';
@import './layout/consultation';



:root {
  --primary-text-color: #212121;
  --secondary-text-color: #2196F3;
  --third-text-color: #757575;
  --four-text-color: #FFFFFF;
  --primary-bg-color: #F5F4FA;
  --secondary-bg-color: #2196F3;
  --third-bg-color: #dadada;
  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', cursive;
}