.page-footer{
    background-color: #414040;
}

.footer-container{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        padding-left: 20px;
        // padding-right: 20px;
        
    }
}

.footer-logo{
    color: var(--four-text-color);
}

.footer-contact{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    @media screen and (min-width: 768px) {
        margin: 0;
        width: 60%;
    }
    @media screen and (min-width: 1200px) {
        margin: 0;
        width: 70%;
    }
}

.footer-link{
    color: var(--four-text-color);
}

.footer-container > .social-list > .social-list__item{
    width: 40px;
    height: 40px;
    & > .social-list__link{
        color: #FFFFFF;
    }
}
