<section class="experience">
    <div class="container">
        <h2 class="experience-title">Мій досвід в цифрах </h2>
        <div class="experience-wrapper">
                <ul class="experience-list">
                    <li class="experience-item">
                        <div class="item-box">
                            <img src="../../../assets/img/clock.png" alt="годинник" class="experience-img">
                            <p class="experience-number">4</p>
                        </div>
                        <p class="conditions-text">роки працюю в сфері консалтингу</p>
                    </li>
                    <li class="experience-item">
                        <div class="item-box">
                            <img src="../../../assets/img/astronaut.png" alt="астронавт" class="experience-img">
                            <p class="experience-number">50+</p>
                        </div>
                        <p class="conditions-text">провела консультацій</p>
                    </li>
                    <li class="experience-item">
                        <div class="item-box">
                            <img src="../../../assets/img/diagram.png" alt="діаграма" class="experience-img">
                            <p class="experience-number">6</p>
                        </div>
                        <p class="conditions-text">сімей на постійному супроводі</p>
                    </li>
                    
                </ul>
        </div>         
    </div>
</section>