<section class="hero">
    <div class="container">
        <div class="hero-wrapper">
            <img class="hero-img" src="../../../assets/img/hero-img.jpg" alt="фото фінансового консультанту" >
            <div class="hero-content">
                <h1 class="hero-title">Навчу тебе жити з грошима!</h1>
                <p class="hero-text">Будемо знайомі - я Аліна Шинкарчук, працюю фінансовим консультантом. 
                    Допоможу розібратись як заощадити і примножити свої кошти. Не зволікай, змінюй життя на краще вже зараз!
                </p>
                <button class="hero-btn btn" data-modal-open type="button">Записатись на курс</button>
        </div>
        </div>
    </div>
    </section>