<section class="services">
    <div class="container">
        <div class="services-wrapper">
            <h2 class="services-title">Послуги</h2>
            <ul class="services-list">
                <li class="services-item">
                    <button class="services-btn btn" data-modal-open type="button">Консультації</button>
                </li>
                <li class="services-item">
                    <button class="services-btn btn" data-modal-open type="button">Річний супровід</button>
                </li>
                <li class="services-item">
                    <button class="services-btn btn" data-modal-open type="button">Навчання</button>
                </li>
                
            </ul>
        </div>
    </div>
    </section>