<section id="how-made" class="about">
    <a href="#header" class="arrow-up"></a>
    <div class="container">
        <p class="about-lable">tradition and love</p>
        <h2 class="about-title section-title">how it’s made?</h2>

        <article class="about-article">
            <picture class="about-picture">
                <source srcset="/images/img-about-mob.png 1x, /images/img-about-mob-2x.png 2x"
                    media="(max-width: 767px)">
                <source srcset="/images/img-about-tab.png 1x, /images/img-about-tab-2x.png 2x"
                    media="(min-width: 768px) and (max-width: 1279px)">
                <source srcset="/images/img-about-desktop.png 1x, /images/img-about-desktop-2x.png 2x"
                    media="(min-width: 1280px)">
                <img src="/images/img-about-mob.png" alt="picture jug of milk and a cow on background">
            </picture>
            <div class="about-article__description">
                <h4 class="about-article__heading">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
                    justo
                    cursus,
                    faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</h4>
                <p class="about-article__text">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet
                    placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.

                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button data-modal-open type="button" class="btn about-btn">Read more</button>
            </div>

        </article>

    </div>
</section>