<section class="advantages-section advantages">
    <div class="container">
        <h2 class="visually-hidden">advantages</h2>
        <ul class="advantages__list advantages-list">
            <li class="advantages-list__item">
                <picture>
                    <source
                        srcset="./images/advantages/advantages-img1-1x.png 1x, ./images/advantages/advantages-img1-2x.png 2x"
                        media="(min-width:1200px)">
                    <source
                        srcset="./images/advantages/advantages-img1-1x.png 1x, ./images/advantages/advantages-img1-2x.png 2x"
                        media="(min-width:768px)">
                    <source
                        srcset="./images/advantages/advantages-img1-1x.png 1x, ./images/advantages/advantages-img1-2x.png 2x"
                        media="(min-width:320px)">
                    <img class="advantages-list__img" src="./images/advantages/advantages-img1-2x.png"
                        alt="Картинка вымя и стакан" aria-label="вымя и стакан">
                </picture>
                <p class="advantages-list__number">721</p>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <picture>
                    <source
                        srcset="./images/advantages/advantages-img2-1x.png 1x, ./images/advantages/advantages-img2-2x.png 2x"
                        media="(min-width:1200px)">
                    <source
                        srcset="./images/advantages/advantages-img2-1x.png 1x, ./images/advantages/advantages-img2-2x.png 2x"
                        media="(min-width:768px)">
                    <source
                        srcset="./images/advantages/advantages-img2-1x.png 1x, ./images/advantages/advantages-img2-2x.png 2x"
                        media="(min-width:320px)">
                    <img class="advantages-list__img" src="./images/advantages/advantages-img2-2x.png"
                        alt="ведро и яблоки" aria-label="ведро и яблоки">
                </picture>
                <p class="advantages-list__number">16kg</p>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <picture>
                    <source
                        srcset="./images/advantages/advantages-img3-1x.png 1x, ./images/advantages/advantages-img3-2x.png 2x"
                        media="(min-width:1200px)">
                    <source
                        srcset="./images/advantages/advantages-img3-1x.png 1x, ./images/advantages/advantages-img3-2x.png 2x"
                        media="(min-width:768px)">
                    <source
                        srcset="./images/advantages/advantages-img3-1x.png 1x, ./images/advantages/advantages-img3-2x.png 2x"
                        media="(min-width:320px)">
                    <img class="advantages-list__img" src="./images/advantages/advantages-img3-2x.png" alt="сердце"
                        aria-label="сердце">
                </picture>
                <p class="advantages-list__number">84</p>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>