<section id="contacts" class="contacts-section">
    <h1 class="contacts-section-title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime autem nostrum blanditiis officia
        similique
    </h1>
    <div class="contact-container">
        <div class="contact-section-box container">
            <p class="contact-section-box__title cafe">CAFE</p>
            <div class="contacts-elements locate">
                <h3 class="contact-box-title">Chicago</h3>
                <p class="contact-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class=" contacts-elements time-work">
                <ul>
                    <li class="time-work-item">
                        <b class="time-work-item__day">Monday - Friday</b>
                        <p class="time-work-item__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="time-work-item">
                        <b class="time-work-item__day">Saturday - Sunday</b>
                        <p class="time-work-item__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
            </div>
            <div class="contacts-container contacts-elements">
                <ul class="contact-list">
                    <li class="contacts-list__item">
                        <a href="tel:+610383766284 " class="contacts-tel contacts">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__item">
                        <a href="mailto:noreply@envato.com" class="contacts-mail contacts">noreply@envato.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contact-section-box container">
            <p class="contact-section-box__title foodtruck">FOODTRUCK</p>
            <div class="locate contacts-elements">
                <h3 class="contact-box-title">Los Angeles</h3>
                <p class="contact-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="time-work contacts-elements">
                <ul>
                    <li class="time-work-item">
                        <b class="time-work-item__day">Monday - Friday</b>
                        <p class="time-work-item__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="time-work-item">
                        <b class="time-work-item__day">Saturday - Sunday</b>
                        <p class="time-work-item__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
            </div>
            <div class="contacts-container contacts-elements">
                <ul class="contacts-list">
                    <li class="contacts-list__item">
                        <a href="tel:+610383766284 " class="contacts-tel contacts">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__item">
                        <a href="mailto:noreply@envato.com" class="contacts-mail contacts">noreply@envato.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contact-section-box container">
            <p class="contact-section-box__title cafe">CAFE</p>
            <div class="locate contacts-elements">
                <h3 class="contact-box-title">New York</h3>
                <p class="contact-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="time-work contacts-elements">
                <ul class="contacts-list">
                    <li class="time-work-item">
                        <b class="time-work-item__day">Monday - Friday</b>
                        <p class="time-work-item__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="time-work-item">
                        <b class="time-work-item__day">Saturday - Sunday</b>
                        <p class="time-work-item__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
            </div>
            <div class="contacts-container contacts-elements">
                <ul class="contacts-list">
                    <li class="contacts-list__item">
                        <a href="tel:+610383766284 " class="contacts-tel contacts">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__item">
                        <a href="mailto:noreply@envato.com" class="contacts-mail contacts">noreply@envato.com</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="contacts-btn-container">
        <button data-modal-open-loc type="button" class="btn contacts-btn-first">Our
            Locations
            <svg class="btn-contacts-svg">
                <use href="./images/icons.svg#icon-btn-svg-arrow"></use>
            </svg>
        </button>

        <button data-modal-open-fra type="button" class="btn contacts-btn-second">Franchise
            <svg class="btn-contacts-svg">
                <use href="./images/icons.svg#icon-btn-svg-arrow"/>
            </svg>
        </button>
    </div>
</section>