<article class="container review">
  <h2 class="visually-hidden">Icecream customer reviews</h2>
  <div class="review-slider">
    <div>
      <img
        class="review__photo"
        srcset="./images/aleksandr-chukhlib.png 1x, ./images/aleksandr-chukhlib@2x.png 2x"
        src="./images/aleksandr-chukhlib.png"
        alt="Photo of customer"
      />
      <div class="review__wrapper">
        <p class="review__text">
          While working on this project, I learned something new every day and improved my skills.
          It was incredibly interesting and funny considering that I worked in the best development
          team in the world.
        </p>
      </div>

      <p class="review__name">Aleksandr Chukhlib, Team Leader</p>
    </div>
    <div>
      <img
        class="review__photo"
        srcset="./images/aleksandr-korpan.png 1x, ./images/aleksandr-korpan@2x.png 2x"
        src="./images/aleksandr-korpan.png"
        alt="Photo of customer"
      />
      <div class="review__wrapper">
        <p class="review__text">
          This project has become another step towards achieving my goals. I also met new people and
          the concept of teamwork. This is very cool experience. Our team the best of the best.
        </p>
      </div>

      <p class="review__name">Aleksandr Korpan, Scrum Master</p>
    </div>
    <div>
      <img
        class="review__photo"
        srcset="./images/dmitry-yeskov.png 1x, ./images/dmitry-yeskov@2x.png 2x"
        src="./images/dmitry-yeskov.png"
        alt="Photo of customer"
      />
      <div class="review__wrapper">
        <p class="review__text">
          Great experience to work on a real project along with well-trained and such motivated
          team. Thanks to tutors, mentors, and related. to be continued...
        </p>
      </div>

      <p class="review__name">Dmitry Yeskov, Developer</p>
    </div>
    <div>
      <img
        class="review__photo"
        srcset="./images/yuliia-klimchuk.png 1x, ./images/yuliia-klimchuk@2x.png 2x"
        src="./images/yuliia-klimchuk.png"
        alt="Photo of customer"
      />
      <div class="review__wrapper">
        <p class="review__text">
          Made the "Products" section. I got a lot of positive emotions and new skills from the
          project)
        </p>
      </div>

      <p class="review__name">Yuliia Klimchuk, Developer</p>
    </div>
    <div>
      <img
        class="review__photo"
        srcset="./images/ivan-lifintsev.png 1x, ./images/ivan-lifintsev@2x.png 2x"
        src="./images/ivan-lifintsev.png"
        alt="Photo of customer"
      />
      <div class="review__wrapper">
        <p class="review__text">
          I got great fun during the creation of this landing page because our team, as I understand
          it, has different famous developers (it includes developers from different countries). By
          my impression it was easy.
        </p>
      </div>

      <p class="review__name">Ivan Lifintsev, Developer</p>
    </div>
    <div>
      <img
        class="review__photo"
        srcset="./images/roman-zinoviev.png 1x, ./images/roman-zinoviev@2x.png 2x"
        src="./images/roman-zinoviev.png"
        alt="Photo of customer"
      />
      <div class="review__wrapper">
        <p class="review__text">
          It was a very exciting experience working in a team and creating a project. I am very glad
          to have new friends. I applied new knowledge to practice.
        </p>
      </div>

      <p class="review__name">Roman Zinoviev, Developer</p>
    </div>
    <div>
      <img
        class="review__photo"
        srcset="./images/vladislav-mikhailov.png 1x, ./images/vladislav-mikhailov@2x.png 2x"
        src="./images/vladislav-mikhailov.png"
        alt="Photo of customer"
      />
      <div class="review__wrapper">
        <p class="review__text">
          I got an incredible feeling of team spirit and teamwork with great people! I wish my
          entire team success in their further training!
        </p>
      </div>

      <p class="review__name">Vladislav Mikhailov, Developer</p>
    </div>
    <div>
      <img
        class="review__photo"
        srcset="./images/irina-begouleva.png 1x, ./images/irina-begouleva@2x.png 2x"
        src="./images/irina-begouleva.png"
        alt="Photo of customer"
      />
      <div class="review__wrapper">
        <p class="review__text">
          I'm the author of this section. It was a bit challenging but interesting to create such a useful tool for the website. Also, it's a big pleasure to work with my teammates.
        </p>
      </div>

      <p class="review__name">Irina Begouleva, Developer</p>
    </div>
  </div>
</article>
