<header id="header" class="header animate__animated animate__fadeInLeft animate__slow">
    <div class="container header__wrapper">
        <div class="header__wrapper__left">
    <a href="" class="logo"><img src="./images/icecream-logo1x.png" alt="icecream logo"></a>
    <ul class="mobile-container__menu header__menu">
        <li class="mobile-container__item header__menu__item"><a href="#" class="mobile-container__link header__menu__link current">Home</a></li>
        <li class="mobile-container__item header__menu__item"><a href="#about" class="mobile-container__link header__menu__link">About us</a></li>
        <li class="mobile-container__item header__menu__item"><a href="#how-made" class="mobile-container__link header__menu__link">How it’s made?</a></li>
        <li class="mobile-container__item header__menu__item"><a href="#products" class="mobile-container__link header__menu__link">Our products</a></li>
        <li class="mobile-container__item header__menu__item"><a href="#contacts" class="mobile-container__link header__menu__link">Contact</a></li>
    </ul>
    </div>
    <div class="header__wrapper__right">
    <button type="button" class="header__btn js-open-menu" aria-expanded="false" aria-controls="mobile-menu"><svg class="header__btn__icon"><use href="./images/icons.svg#icon-burger" /></svg></button>
    <button data-modal-open-hr type="button" class="mobile-container__btn btn header__btn__buy">
        Buy now <svg class="mobile-container__btn__icon">
            <use href="./images/icons.svg#icon-tick" />
        </svg>
    </button>
</div>
</div>
</header>
<div class="for-background">
<section class="hero">
    <div class="container hero__parts">
        <div class="hero__left">
        <h1 class="hero__title animate__animated animate__tada animate__delay-2s">
        ice cream made with <span class="hero__title__decorate">passion</span> 
        </h1>
           <div class="hero__btn-wrapper">
           <a href="#products" class="hero__btn hero__btn__first btn">Products</a> 
          <a href="#how-made" class="hero__btn hero__btn__second btn">How it’s made?</a> 
         </div>  

         <div class="hero-text--wrapper">  
            <p class="hero__text--second">
                Hey! What's up? Hold on a minute, eat some ice cream.
            </p>
            <p class="hero__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
            <button class="hero__left__btn">
                <svg class="hero__left__btn-icon" >
                    <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
            </button>   
            </div>

    </div>
    <div class="hero__right"> 
        <p class="hero__right__number">16</p>
        <p class="hero__right__text">cafes</p>
        <p class="hero__right__number">23</p>
        <p class="hero__right__text">food trucks</p>            
          </div>
    </div>
          <picture class="hero__main-picture animate__animated animate__backInUp animate__slow">
            <source srcset="./images/hero-picture-desc1x.png 1x, ./images/hero-picture-desc2x.png 2x" media="(min-width:1280px)">
            <source srcset="./images/hero-picture-tablet1x.png 1x, ./images/hero-picture-tablet2x.png 2x" media="(min-width:768px)">
            <source srcset="./images/hero-picture-mobile1x.png 1x, ./images/hero-picture-mobile2x.png 2x" media="(min-width:320px)">
            <img src="./images/hero-picture-mobile1x.png" alt="big ice-cream">
        </picture>    
        <picture class="hero__second-picture">
            <source srcset="./images/ellipse-desc1x.png 1x, ./images/ellipse-desc2x.png 2x"
                media="(min-width:1280px)">
            <source srcset="./images/ellipse-tablet1x.png 1x, ./images/ellipse-tablet2x.png 2x"
                media="(min-width:768px)">
            <source srcset="./images/ellipse-mobile1x.png 1x, ./images/ellipse-mobile2x.png 2x"
                media="(min-width:320px)">
            <img src="./images/ellipse-mobile1x.png" alt="ellipse">
        </picture>
        <picture class="hero__left__img">
            <source srcset="./images/milk-hero-desc1x.png 1x, ./images/milk-hero-desc1x.png 2x" media="(min-width:1280px)">
            <source srcset="./images/milk-hero-tablet1x.png 1x, ./images/milk-hero-tablet1x.png 2x" media="(min-width:768px)">
            <img class="for-width" src="./images/milk-hero-desc1x.png" alt="milk" >
        </picture>
        <picture class="hero__right__img animate__animated animate__fadeInBottomRight animate__delay-1s">
            <source srcset="./images/tasty-desc1x.png 1x, ./images/tasty-desc2x.png 2x" media="(min-width:1280px)">
            <source srcset="./images/tasty-tablet1x.png 1x, ./images/tasty-tablet2x.png 2x" media="(min-width:768px)">
            <img src="./images/tasty-tablet1x.png" alt="tasty milk">
        </picture>
        <p class="text-for-animacion animate__animated animate__delay-3s animate__hinge">Галя любить морозиво!</p>
        </section>
</div>
    <div class="mobile-container js-menu-container" id="mobile-menu">
        <button type="button" class="mobile-container__btn-close js-close-menu"><svg class="btn-close__icon">
            <use href="./images/icons.svg#icon-close" />
        </svg></button>
        <button data-modal-open-hr-mob type="button" class="mobile-container__btn btn">
            Buy now <svg class="mobile-container__btn__icon"><use href="./images/icons.svg#icon-tick" /></svg>
        </button>
        <ul class="mobile-container__menu">
            <li class="mobile-container__item"><a href="" class="mobile-container__link current">Home</a></li>
            <li class="mobile-container__item"><a href="#about" class="mobile-container__link">About us</a></li>
            <li class="mobile-container__item"><a href="#how-made" class="mobile-container__link">How it’s made?</a></li>
            <li class="mobile-container__item"><a href="#products" class="mobile-container__link">Our products</a></li>
            <li class="mobile-container__item"><a href="#contacts" class="mobile-container__link">Contact</a></li>           
        </ul>
    </div>
