<!-- Hero section modal -->
<div data-modal-hr class="backdrop is-hidden">
    <div class="modal">
        
        <button data-modal-close-hr type="button" class="button-modal">
            <svg class="button-modal__icon"  height="11px">
                <use href="./images/icons.svg#icon-cross"></use>
            </svg>
        </button>
        
        <form class="modal-form">
            <div role="group">
                <h2 class="modal-form__title">Leave your order here, we will call you back</h2>
                <div class="form-fild">
                    <label class="form-fild__label" for="name">Name</label>
        
                    <div class="input-wrapper"> <input class="form-fild__input" type="text" name="name" id="name">
                    </div>
        
                </div>
        
                <div class="form-fild">
                    <label class="form-fild__label" for="tel">Phone</label>
                    <div class="input-wrapper"><input class="form-fild__input" type="tel" name="tel" id="tel">
                        
                    </div>
                </div>
        
                <div class="form-fild">
                    <label class="form-fild__label" for="email">Mail</label>
                    <div class="input-wrapper"> <input class="form-fild__input" type="email" name="email" id="email">
                        
                    </div>
                </div>
            </div>
        
            <div class="form-fild">
                <label class="form-fild__label" for="comment">Leave a comment</label>
                <textarea class="form-fild__input form-fild__input--textarea" name="comment" id="comment" rows="5"
                    placeholder=""></textarea>
            </div>
        
        
            <div class="policy">
        
                <label class="policy__label">
                    <input class="policy__checkbox" type="checkbox" name="policy">
        
                    <svg class="policy__icon" width="16" height="15">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
        
                    I agree with the company policy and accept <a class="policy__link" href="">Terms of an agreement </a>
        
        
                </label>
            </div>
        
        
            <button class="button button--size" type="submit">Send</button>
        </form>
    </div>
</div>

<!-- Hero mobile section modal -->
<div data-modal-hr-mob class="backdrop is-hidden">
    <div class="modal">
        <form class="modal-form">
            <div role="group">
                <h2 class="modal-form__title">Leave your order here, we will call you back</h2>
                <div class="form-fild">
                    <label class="form-fild__label" for="names">Name</label>
        
                    <div class="input-wrapper"> <input class="form-fild__input" type="text" name="name" id="names">
                    </div>
        
                </div>
        
                <div class="form-fild">
                    <label class="form-fild__label" for="tels">Phone</label>
                    <div class="input-wrapper"><input class="form-fild__input" type="tel" name="tel" id="tels">
                    </div>
                </div>
        
                <div class="form-fild">
                    <label class="form-fild__label" for="emails">Mail</label>
                    <div class="input-wrapper"> <input class="form-fild__input" type="email" name="email" id="emails">
                    </div>
                </div>
            </div>
        
            <div class="form-fild">
                <label class="form-fild__label" for="comments">Leave a comment</label>
                <textarea class="form-fild__input form-fild__input--textarea" name="comment" id="comments" rows="5"
                    placeholder=""></textarea>
            </div>
        
        
            <div class="policy">
        
                <label class="policy__label">
                    <input class="policy__checkbox" type="checkbox" name="policy">
        
                    <svg class="policy__icon" width="16" height="15">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
        
                    I agree with the company policy and accept <a class="policy__link" href="">Terms of an agreement </a>
        
        
                </label>
            </div>
        
        
            <button class="button button--size" type="submit">Send</button>
        </form>

        <button data-modal-close-hr-mob type="button" class="button-modal">
            <svg class="button-modal__icon"  height="11px">
                <use href="./images/icons.svg#icon-cross"></use>
            </svg>
        </button>
    </div>
</div>

<!-- About section modal -->
<div data-modal class="backdrop is-hidden">
    <div class="modal">
        <p class="modal__title">How do we make it</p>
        <p class="modal__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quo quidem 
            labore nihil perspiciatis, aut obcaecati aliquid illum? Quibusdam, minus mollitia reprehenderit
             aliquam assumenda officia voluptates fugiat numquam. Voluptates provident quos nesciunt expedita 
             facilis quia, magni quod nobis voluptatibus inventore eos neque tempore eum enim maiores ipsa rem 
             ipsum illo illum nihil ut pariatur ratione. Corrupti quasi delectus sit corporis!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quo quidem
            </p>
        <button data-modal-close type="button" class="button-modal">
            <svg class="button-modal__icon"  height="11px">
                <use href="./images/icons.svg#icon-cross"></use>
            </svg>
        </button>
    </div>
</div>

<!-- Location modal -->
<div data-modal-loc class="backdrop is-hidden">
    <div class="modal modal-location">
    <iframe class="iframe"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d136807.1981596178!2d-80.24732919216136!3d25.70371784242812!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a6172bfeddb9%3A0x37be1741259463eb!2z0JzQsNC50LDQvNC4LdCR0LjRhywg0KTQu9C-0YDQuNC00LAsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1637001324071!5m2!1sru!2sua"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      

        <button data-modal-close-loc type="button" class="button-modal button-modal--location">
            <svg class="button-modal__icon"  height="11px">
                <use href="./images/icons.svg#icon-cross"></use>
            </svg>
        </button>
    </div>
</div>

<!-- Franchise modal -->
<div data-modal-fra class="backdrop is-hidden">
    <div class="modal modal-franchise">
        <form class="modal-form">
            <div role="group">
                <h2 class="modal-form__title">Get a franchise in just a few clicks</h2>
                
        
                <p class="modal__text modal__text--margin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit maxime, deleniti obcaecati aliquam nostrum quibusdam explicabo incidunt mollitia temporibus ducimus quasi labore blanditiis officiis adipisci iure quas iusto, harum dicta.</p>
        
                <div class="form-fild">
                    <label class="form-fild__label" for="mails">Mail</label>
                    <div class="input-wrapper"> <input class="form-fild__input" type="email" name="email" id="mails">
                       
                    </div>
                </div>
            </div>
        
                   
        
        
            <button class="button button--size" type="submit">Send</button>
        </form>

            

        <button data-modal-close-fra type="button" class="button-modal">
            <svg class="button-modal__icon" height="11px">
                <use href="./images/icons.svg#icon-cross"></use>
            </svg>
        </button>
    </div>
</div>
