<section id="products" class="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title section-title">products</h2>
        <ul class="products__list">
            <li class="products__item" data-products-ice-cream >
                <div class="products-content ice-cream" >
                    <h3 class="products-content__title">ice cream</h3>
                    <p class="products-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                    <span class="products-content__text-none"> dolore magna aliqua facilisis.</span></p>
                    <button type="button" class="products-content__btn" data-ice-cream-button>
                        <svg class="products-content__btn-icon" width="15px" height="15px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
                <div class="products-content__back-side ice-cream-description">
                    <b class="products-description__title">Lorem ipsum dolor sit amet consectetur adipisicing elit officiis adipisicing voluptatem! </b>
                    <p class="products-content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quod nobis ea voluptatem distinctio! Vero laudantium fuga enim voluptate recusandae impedit reprehenderit. Ipsam at ducimus odio laboriosam? Dolorem eius quam natus, ducimus quis quibusdam autem error.</p>
                    <button type="button" class="products-content__btn " data-ice-cream-back-button>
                        <svg class="products-content__btn-icon back-side__icon" width="15px" height="15px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item" data-products-ice-coffee>
                <div class="products-content ice-coffee">
                    <h3 class="products-content__title">ice coffee</h3>
                    <p class="products-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
                    <span class="products-content__text-none">dolore magna aliqua facilisis.</span></p>
                    <button type="button" class="products-content__btn" data-ice-coffee-button>
                        <svg class="products-content__btn-icon" width="15px" height="15px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
                <div class="products-content__back-side ice-coffee-description">
                    <b class="products-description__title">Lorem ipsum dolor sit amet consectetur adipisicing elit officiis adipisicing
                        voluptatem! </b>
                    <p class="products-content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quod nobis ea
                        voluptatem distinctio! Vero laudantium fuga enim voluptate recusandae impedit reprehenderit. Ipsam at ducimus odio
                        laboriosam? Dolorem eius quam natus, ducimus quis quibusdam autem error.</p>
                    <button type="button" class="products-content__btn" data-ice-coffee-back-button>
                        <svg class="products-content__btn-icon back-side__icon" width="15px" height="15px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item" data-products-milkshakes>
                <div class="products-content milkshakes">
                    <h3 class="products-content__title">milkshakes</h3>
                    <p class="products-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. 
                        <span class="products-content__text-none">dolore magna aliqua facilisis.</span></p>
                    <button type="button" class="products-content__btn" data-milkshakes-button>
                        <svg class="products-content__btn-icon" width="15px" height="15px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
                <div class="products-content__back-side milkshakes-description">
                    <b class="products-description__title">Lorem ipsum dolor sit amet consectetur adipisicing elit officiis adipisicing
                        voluptatem! </b>
                    <p class="products-content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quod nobis ea
                        voluptatem distinctio! Vero laudantium fuga enim voluptate recusandae impedit reprehenderit. Ipsam at ducimus odio
                        laboriosam? Dolorem eius quam natus, ducimus quis quibusdam autem error.</p>
                    <button type="button" class="products-content__btn " data-milkshakes-back-button>
                        <svg class="products-content__btn-icon back-side__icon" width="15px" height="15px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>
