.review {
  padding-top: 80px;
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    padding: 121px 74px 119px;
  }

  @media screen and (min-width: 1280px) {
    padding: 123px 176px 132px 178px;
  }
}

.review__photo {
  margin: 0 auto 29px;

  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.review__wrapper {
  position: relative;

  margin-bottom: 30px;
  padding: 43px 50px 20px;

  background-color: #fafafa;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    padding: 47px 36px 28px 60px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    padding: 47px 54px 32px 50px;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 28px;
    left: 61px;

    display: inline-block;
    width: 54px;
    height: 40px;
    background-image: url(../images/review-quote.svg);

    @media screen and (min-width: 768px) {
      top: 30px;
      left: 40px;
    }

    @media screen and (min-width: 1280px) {
      top: 32px;
      left: 50px;
    }
  }
}

.review__text {
  position: relative;

  padding-right: 16px;
  padding-left: 7px;

  @include font(12px, 500, 31px, normal);
  color: var(--secondary-text-color);
  text-align: center;

  background-image: repeating-linear-gradient(transparent, transparent 28.8px, #e1e1e1 30.4px);

  @media screen and (min-width: 768px) {
    padding-right: 44px;
    padding-left: 20px;

    @include font(14px, 500, 30px, 0.04em);

    background-image: repeating-linear-gradient(transparent, transparent 28px, #e1e1e1 29.6px);
  }

  @media screen and (min-width: 1280px) {
    padding-right: 35px;
    padding-left: 37px;

    @include font(16px, 500, 30px, 0.04em);
  }
}

.review__name {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include font(14px, 500, 26px, normal);
  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    @include font(16px, 500, 30px, normal);
  }

  @media screen and (min-width: 1280px) {
    @include font(20px, 500, 37px, normal);
  }

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 18px;
    width: 32px;
    height: 4px;
    background-image: url(../images/review-dots.svg);

    @media screen and (min-width: 768px) {
      margin-bottom: 14px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
  }
}

.review-slider__dots {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
}

.review-slider__dots li {
  &:not(:last-child) {
    margin-right: 18px;
  }
}

.review-slider__dots button {
  display: flex;
  align-items: center;
  height: 12px;
  width: 12px;
  padding: 0;

  background-color: #d9d9d9;
  border: none;
  border-radius: 50%;
  font-size: 0;
}

.slick-active button {
  width: 12.4px;
  background-image: url(../images/review-active.svg);
  background-position: left top;
  background-color: transparent;
  border-radius: 0%;
}
